.character {
  position: absolute;
  z-index: 1;

  transition: all ease .2s;
}
.character--frontSprite {
  background: url('../../assets/Front.png') no-repeat no-repeat;
  background-size: 100%;
  background-position: center;
}

.character--movementSprite {
  background: url('../../assets/Walking.gif') no-repeat no-repeat;
  background-size: contain;
  background-position: center;
}