@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

*,
*::after,
*::before {
  image-rendering: pixelated;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* TYPOGRAPHY */
.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.subtitle {
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
}
.btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 16px 24px;
  border: 0;
  border-radius: 42px;
  cursor: pointer;
  &:active{
    transform: scale(.9);
  }
}
.lbl {
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

/* COLORS */
.primary {
  background-color: #00D68F;
}
.primary--dark {
  background-color: #004A45;
}
.primary--transparent {
  background-color: rgba(0, 214, 143, 0.48);
}
.primary-gradient {
  background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
}

.action {
  background-color: #FF3D71;
  color: #fff;
  &:hover {
    background-color: #DB2C66;
  }
}
.action--dark {
  background-color: #DB2C66;
}