:root {
    --pixel-size: 64px
}

.map__camera {
    overflow: hidden;
    // background-color: #000;
    // outline: 4px solid #fff;

    display: flex;
    position: relative;
}
.map {
background: url("../../assets//Map.png") no-repeat no-repeat;
background-size: 100%;

position: relative;

transition: all ease .2s;
}